/* Light mode */
body {
    --background-color: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0);
    --hover-color: #f7f9f9;
    --tab-color: #536471;
}

/* Dark mode */
body[style^="background-color: rgb(21, 32, 43);"] {
    --background-color: rgb(21, 32, 43);
    --text-color: rgb(255, 255, 255);
    --hover-color: #1e2732;
    --tab-color: #8b98a5;
}
/* Pitch black mode */
body[style^="background-color: rgb(0, 0, 0);"] {
    --background-color: rgb(0, 0, 0);
    --text-color: rgb(255, 255, 255);
    --hover-color: #181818;
    --tab-color: rgb(113, 118, 123);
}

.yeah-button-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
}

.yeah-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 4px;
}

.yeah-button > img {
    width: 24px;
    height: 24px;
}

.yeah-counter {
    color: #71767b;
    margin-left: 5px;
    vertical-align: super;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}


.yeah-button:hover .yeah-counter, .yeahed .yeah-counter {
    color: #4cd200;
}


.modal {
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    width: fit-content;
    min-width: 500px;
    max-width: 700px;
    margin: auto;
    border-radius: 5px;
    border: #383838 1px solid;
    background-color: var(--background-color);
    padding: 20px;
    top: 20%;
    position: relative;
    max-height: 60%;
    overflow-y: inherit;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    animation: opac 0.2s ease-in-out;
}
@keyframes opac {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    top: 0;
    right: 5px;
    position: absolute;
}

.modal-close:hover,
.modal-close:focus {
    color: var(--default-text-color);
    text-decoration: none;
    cursor: pointer;
}

.error-message {
    color: red;
}

.yeah-tab {
    scroll-snap-align: start;
    flex-grow: 1;
    padding-left: 0px;
    padding-right: 0px;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    cursor: pointer;
    color: var(--tab-color);
}

.yeah-tab.active {
    color: white;
    font-weight: bold;
}

.yeah-tab:hover {
    background-color: var(--hover-color);
}

.yeah-tab > span {
    min-width: 56px;
    height: 53px;
    transition-duration: 0.2s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    font-size: 15px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.yeah-users h3, .yeah-posts h3 {
    margin-top: 0;
    font-size: 24px;
}

.user-item-btn {
    float: right;
    position: relative;
    bottom: 52px;
    height: 40px;
    background-color: var(--text-color);
    border-radius: 50px;
    border: none;
    padding: 0 20px;
    cursor: pointer;
    color: var(--background-color);
    transition: background-color 0.2s;
    font-weight: bold;
    font-size: 15px;
}

.nice-button {
    background-color: var(--text-color);
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--background-color);
    transition: background-color 0.2s;
    font-weight: bold;
    font-size: 15px;
}

.user-item-btn:hover {
    transition: background-color 0.2s;
}

.user-item-text {
    width: fit-content;
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin-left: 8px
}

.user-item-link:hover {
    text-decoration: none
}

.user-item {
    margin-bottom: 5px
}
.follows-you-label {
    font-size: 11px;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: var(--text-color);
    background: rgba(0, 0, 0, 0.08);
    width: fit-content;
    padding: 3px 7px;
    border-radius: 5px;
    margin-bottom: 5px
}
.user-item-additional {
    font-size: 14px;
}
.tweet-header-name {
    display: inline;
    font-weight: bold;
    color: var(--text-color);
    font-size: 16px;
}
.tweet-header-handle {
    display: inline;
    direction: ltr;
    unicode-bidi: embed;
    font-size: 13px;
    color: gray;
    text-decoration: none;
}

.user-item-link {
    text-decoration: none
}

.user-item-avatar {
    border-radius: 50%;
}

.authentification-successful {
    max-width: 543px;
}

.yeah-posts {
    width: 600px;
}