/* Light mode */
body {
    --yeah-background-color: rgb(255, 255, 255);
    --yeah-text-color: rgb(0, 0, 0);
    --yeah-hover-color: #f7f9f9;
    --yeah-tab-color: #536471;
}

/* Dark mode */
body[style^="background-color: rgb(21, 32, 43);"], body.body-dark {
    --yeah-background-color: rgb(21, 32, 43);
    --yeah-text-color: rgb(255, 255, 255);
    --yeah-hover-color: #1e2732;
    --yeah-tab-color: #8b98a5;
}
/* Pitch black mode */
body[style^="background-color: rgb(0, 0, 0);"], body.body-pitch-black {
    --yeah-background-color: rgb(0, 0, 0);
    --yeah-text-color: rgb(255, 255, 255);
    --yeah-hover-color: #181818;
    --yeah-tab-color: rgb(113, 118, 123);
}

.yeah-button-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.yeah-button-container-oldtwitter {
    display: inline;
    vertical-align: sub;
    flex: unset;
}

.yeah-button-container-oldtwitter img {
    width: 20px !important;
    height: 20px !important;
}

.modal-content .yeah-button-container-oldtwitter .yeah-button {
    margin-top: -3px;
}

.yeah-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 4px;
}

.yeah-button > img {
    width: 24px;
    height: 24px;
}

.yeah-counter {
    color: #71767b;
    margin-left: 5px;
    vertical-align: super;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.yeah-counter-oldtwitter {
    top: 0 !important;
    font-family: var(--font);
}


.yeah-button:hover .yeah-counter, .yeahed .yeah-counter {
    color: #4cd200;
}


.yeah-modal {
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.yeah-modal-content {
    width: fit-content;
    min-width: 500px;
    max-width: 700px;
    margin: auto;
    border-radius: 5px;
    border: #383838 1px solid;
    background-color: var(--yeah-background-color);
    padding: 20px;
    top: 20%;
    position: relative;
    max-height: 60%;
    overflow-y: inherit;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    animation: opac 0.2s ease-in-out;
    color: var(--yeah-text-color);
}
@keyframes opac {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.yeah-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: 0;
    right: 8px;
    position: absolute;
}

.yeah-modal-close:hover,
.yeah-modal-close:focus {
    color: var(--yeah-default-text-color);
    text-decoration: none;
    cursor: pointer;
}

.error-message {
    color: red;
}

.yeah-tab {
    scroll-snap-align: start;
    flex-grow: 1;
    padding-left: 0px;
    padding-right: 0px;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    cursor: pointer;
    color: var(--yeah-tab-color);
}

.yeah-tab.active {
    color: white;
    font-weight: bold;
}

.yeah-tab:hover {
    background-color: var(--yeah-hover-color);
}

.yeah-tab > span {
    min-width: 56px;
    height: 53px;
    transition-duration: 0.2s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    font-size: 15px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.yeah-users h3, .yeah-posts h3 {
    margin-top: 0;
    font-size: 24px;
    color: var(--yeah-text-color);
}

.user-yeah-item-btn {
    float: right;
    position: relative;
    bottom: 52px;
    height: 40px;
    background-color: var(--yeah-text-color);
    border-radius: 50px;
    border: none;
    padding: 0 20px;
    cursor: pointer;
    color: var(--yeah-background-color);
    transition: background-color 0.2s;
    font-weight: bold;
    font-size: 15px;
}

.nice-yeah-button {
    background-color: var(--yeah-text-color);
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--yeah-background-color);
    transition: background-color 0.2s;
    font-weight: bold;
    font-size: 15px;
}

.user-yeah-item-btn:hover {
    transition: background-color 0.2s;
}

.user-item-text {
    width: fit-content;
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin-left: 8px
}

.user-item-link:hover {
    text-decoration: none
}

.user-item {
    margin-bottom: 5px
}
.yeah-users .follows-you-label {
    font-size: 11px;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: var(--yeah-text-color);
    background: rgba(0, 0, 0, 0.08);
    width: fit-content;
    padding: 3px 7px;
    border-radius: 5px;
    margin-bottom: 5px
}
.user-item-additional {
    font-size: 14px;
}
.yeah-name {
    font-weight: bold;
    color: var(--yeah-text-color);
    font-size: 16px;
    max-width: 269px;
    overflow: hidden;
    display: inline-block;
    white-space: pre;
}
.yeah-handle {
    display: inline;
    direction: ltr;
    unicode-bidi: embed;
    font-size: 13px;
    color: gray;
    text-decoration: none;
}

.user-item-link {
    text-decoration: none
}

.user-item-avatar {
    border-radius: 50%;
}

.authentification-successful {
    max-width: 543px;
}

.yeah-posts {
    width: 600px;
}

@media screen and (max-width: 590px) {
    .yeah-modal-content {
        min-width: 85%;
        margin: 0 auto;
        top: 10%;
    }
}

.welcome-modal .subtle {
    font-size: 12px;
    color: var(--yeah-text-color);
    opacity: 0.5;
    cursor: pointer;
}

.welcome-modal .subtle:hover {
    text-decoration: underline;
}